.card__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-left: -200px;
}

.card {
  position: relative;
  width: 400px;
  height: 200px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin-bottom: 50px;
}

.card img {
  width: 400px;
  height: 200px;
}

.card:hover {
  transform: scale(105%);
  box-shadow: 20px 15px 30px rgba(0, 0, 0, 0.2); /* Sombra aumentada no estado hover */
}

.overlay {
  transition: width ease-in-out 1s;
  position: absolute;
  top: 0;
  left: 0;
  width: 40%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

h4 {
  display: none;
}



.overlay:hover {
  width: 100%;
  transition: ease-in-out 1s;

}

.overlay:hover h4 {
  display: block;
}


.content {
  text-align: center;
  padding: 20px;
}

.preco {
  margin-top: 10px;
}

.button {
  margin-top: 10px;
  background-color: #a10202;
  color: #fff;
  padding: 8px 15px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.adicionado {
  margin-top: 10px;
  background-color: rgb(0, 255, 51);
  color: black;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.menu-itens__container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  margin-left: -150px;
  justify-content: center;
  align-items: center;
  margin-bottom: 80px;
  margin-top: -50px;
}

.menu-itens__container > ul {
  list-style: none;

}

.menu-itens__container > ul > li {
  text-decoration: none;
  display: inline-block;
  margin-left: 70px;
  align-items: center;

}

.menu-itens__container > ul > li > button {
  border: none;
  background-color: unset;
  color: #000;
  font-size: 18px;
  transition: color 0.3s linear;
  text-align: center;
  padding: 10px;

}

.menu-itens__container > ul > li > button:hover{
  color: #03a9f4;
  font-size: 19px;
}


