<app-navbar></app-navbar>
<div class="container">
  <div class="metade-branco">
    <h3>Conclusão do Projeto</h3>
    <span class="texto">Angular: Utilizamos o poderoso framework Angular para a construção da interface do usuário.</span><br>
    <span class="texto">Serviços e Requisições HTTP: Implementamos serviços para comunicação eficiente com nossa API</span><br>
    <span class="texto">Rotas e Componentes Universais: Utilizamos o sistema de rotas do Angular para criar uma navegação fluida dentro da aplicação.</span><br>
    <span class="texto">Guards e AuthService: Implementamos guards de rota para proteger nossas rotas e garantir que apenas usuários autenticados tenham acesso a determinadas áreas e funcionalidades.</span><br>
    <span class="texto">O AuthService foi utilizado para gerenciar o processo de autenticação de forma centralizada, fornecendo uma base sólida para a segurança da aplicação.</span><br>
    <span class="texto">Integração com API e Serviços Universais: Os serviços foram essenciais para a integração eficiente com a API, permitindo que a aplicação interaja de maneira coesa com a lógica de negócios do servidor. Isso proporcionou uma arquitetura escalável e de fácil manutenção.</span><br>
  </div>
  <div class="metade-colorido">
    <div class="form-lateral">
      <img src="https://media-gru2-2.cdn.whatsapp.net/v/t61.24694-24/382397721_2063785620627213_663584166985796242_n.jpg?ccb=11-4&oh=01_AdQVCzOmeYCrf8R_MXarb3FekHdUT0Qdle9FYFm9tED8Lw&oe=657E1B6C&_nc_sid=e6ed6c&_nc_cat=103" alt="">
      <p>Devison - 255422021</p>
      <img src="https://media.licdn.com/dms/image/C4D03AQE9FrcStNrV9Q/profile-displayphoto-shrink_800_800/0/1661281609292?e=1707350400&v=beta&t=0oZ0ZHIr7xZCNuvP1j-xhX2IRlTBcy74iCd1LMtEc3A" alt="">
      <p>Guilherme - 225242022</p>
      <img src="https://media.licdn.com/dms/image/D4D03AQGQJgFSwqZShQ/profile-displayphoto-shrink_800_800/0/1695470918859?e=1707350400&v=beta&t=kQbPVu9SltXXYorSAEO0rD7VYy7EAkXfALdmViDhEjk" alt="">
      <p>Jefferson - 250252021</p>
    </div>
  </div>
</div>
